@{
    ViewBag.Title = "Boost";
}

<div class="jumbotron">
    <h1>FFRK Team Building Tool</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2></h2>
        <p>This page will display all your FFRK characters who have Soul Breaks for the selected Element</p>
        <p>The prerequisite is an excel spreadsheet with your characters' info</p>
    </div>
    <div class="col-md-4">
        <h2>Choose your boost from the dropdown menu!</h2>
        <input class="button" name="boost" />
    </div>
</div>
